body{
    background: gold;
}
.boxes p {
  color: gray;
  text-align: center;
}
.red-box{
    background-color: white;
    height: 100px;
    width: 980px;
	margin:5px auto 5px;
}
  .k7 {
   padding: 1em 18em;
   width: 330px;
   height: 400px;
	}
.red-box2{
    background-color: white;
	padding: 1em 1em;
	text-align:center;
	color: gray;
    height: 870px;
    width: 50%;
	margin:5px auto 5px;
}

